# Изменено с: 
# https://github.com/github/gitignore/blob/master/Unity.gitignore

/ [Ll] ibrary / 
/ [Uu] serSettings / 
[Tt] emp / 
[Oo] bj / 
/ [Bb] uild / 
/ [Bb] uilds / 
/ [Ll] ogs / 
/ [Mm] emoryCaptures /

# Раскомментируйте эту строку, если хотите игнорировать плагин инструментов хранилища ресурсов 
# [Aa] ssets / AssetStoreTools *

# Каталог кэша Visual Studio
 .vs /

# Каталог кеша Gradle
 .gradle /

# Автоматически сгенерированные файлы решений и проектов VS / MD / Consulo
 ExportedObj / 
.consulo / 
* .csproj 
* .unityproj 
* .sln 
* .suo 
* .tmp 
* .user 
* .userprefs 
* .pidb 
* .booproj 
* .svd 
* .pdb 
* .mdb 
* .opendb 
* .VC.db

# Unity3D сгенерировал метафайлы
 * .pidb.meta 
* .pdb.meta 
* .mdb.meta

# Сгенерированный Unity3D файл с отчетами о
 сбоях sysinfo.txt

# Строит
 * .apk 
* .unitypackage

# Crashlytics сгенерировал файл
 crashlytics-build.properties

# Windows
 Thumbs.db 
Thumbs.db.meta

# MacOS
 * .DS_Store

# VS Code
 * .vscode